.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

* { 
	margin:0;
	padding:0;
}

.center {
	text-align: center;
}

.left {
	float:left;
}

.right {
	float:right;
}

ul {
	list-style: none;
}

* { 
	margin:0;
	padding:0;
}

p {
	letter-spacing: 1px;
}

a {
    text-decoration: none;
	color: #333;
	letter-spacing: 2px;
}

.container.president,.container.person,.container.flow,.container.companyInformation {
    width: 1000px;
    margin: 0 auto;
}

@media screen and (max-width: 1100px) {
.container.president,.container.person,.container.flow,.container.companyInformation {
    width: 90%;
}
}

.topNav {
	width: 930px;
    margin: 0 auto;
}

.topNavText {
	margin: 0 43px;
    font-weight: bold;
    font-size: 14px;
}

.navAll {
	padding: 0 0 15px 0;
    border-bottom: solid 3px #E47B2E;
    margin: 0 0 10px 0;
}

.navPan {
	font-size: 13px;
    width: 1000px;
    margin:10px 0 10px 5px;
	color: #A5A5A5;
}

.sectionTitle {
	padding:33px 0;
}

@media screen and (max-width: 950px) {
	.topNav {
	width: 80%;
    margin: 0 auto;
	}
	
	.topNavText {
		margin:  20px;
		font-weight: bold;
		font-size: 14px;
	}
}

@media screen and (max-width: 769px) {
	.sectionTitle {
		padding: 22px 0 8px 0;
	}
		.titleImg {
		width: 63%;
	}
	.topNavText {
    margin: 9px;
    font-weight: bold;
    font-size: 12px;
	}
	}

}


@media screen and (max-width: 400px) {
	.titleImg {
		width: 80%;
	}
}

span {
    color: #f19c14;
}


	