.flowSubTitle {
	padding:48px 38px 56px 38px;
    font-size: 14px;
	width: 700px;
}

.flowProcess {
	padding: 20px;
    width: 120px;
    background-color: #e6e6e6;
    margin-right: 10px;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 11px solid #8E8989;
  margin: 59px 5px;
}

.flowProcess.finish {
    background-color: #EDAB35;
}

.flowAll {
	margin:0 0 100px 0;
}

@media screen and (max-width: 1100px) {
	p.flowSubTitle.left {
		width: 50%;
	}
	.flowProcess {
		padding: 20px;
		width: 100%;
		background-color: #e6e6e6;
		margin-right: 10px;
	}
	li.left.triangleAll {
		width: 108%;
	}
	.flowAll {
		width:50%;
		margin:17px auto 30px auto;
		
	}
	.triangle {
    width: 0;
    height: 0;
    margin: 12px auto 0 auto;
    border-top: 14px solid #8E8989;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
	}
}

@media screen and (max-width: 768px) {
	p.flowSubTitle.left {
		width: 72%;
		padding: 0 0 30px 0;
	}
	.flowProcess {
    padding: 20px;
    width: 90%;
    background-color: #e6e6e6;
	margin-right:0;
	}
	.flowAll {
		width: 57%;
	}
}

