 .listTitle {
	background-color: #e6e6e6;
    padding: 12px;
    font-size: 17px;
    font-weight: normal;
}

th,td {
    font-weight: normal;
    border: 1px #e6e6e6 solid;
    font-size: 13px;
    padding: 15px 0px;
    padding-left: 16px;
    line-height: 29px;
}

table {
	border-collapse: collapse;
}

th {
    width: 135px;
    text-align: left;
}

ol {
    list-style: none;
}

td {
    width: 865px;
}

.newEntryBtnText {
    width: 300px;
    margin: 35px auto;
    background-color: #D8742C;
    padding: 10px;
    color: #ffffff;
}

.footNavAll {
    border-top: solid 2px #e6e6e6;
    padding: 21px 0 7px 0;
}

ul.clearfix.footNav {
    width: 510px;
    margin: 0 auto;
    font-size: 13px;
}

.footNavText {
    border-right: solid 1px;
    padding: 0 10px;
}

p.copyright {
    font-size: 12px;
	text-align: center;
	margin-bottom: 10px;
}

.footNavLast {
	border:none;
}

@media screen and (max-width: 768px) {
	.newEntryBtnText {
		width: 245px;
	}
}

@media screen and (max-width: 600px) {
	ul.clearfix.footNav {
		width:80%;
	}
}
	