p.presidentName {
    font-weight: bold;
	padding: 0 0 7px 0;
}

.presidentTitle {
    font-size: 31px;
    color: #E47B2E;
    letter-spacing: 4px;
}

.presidentMessage2 {
    width: 613px;
    font-size: 14px;
    line-height: 32px;
}

@media screen and (max-width: 1070px) {
.presidentMessage2,.presidentTitle {
    width: 50%;
}
}

.president {
	background-image:url(../img/pic_president.png);
	background-position:100% 33px;
    background-repeat: no-repeat;
	width:1000px;
	margin: 0 auto;
}

@media screen and (max-width: 846px) {
	section.clearfix.container.president {
		background-image:none;
	}
	.presidentMessage2,.presidentTitle {
    width: 100%;
	}
	.presidentTitle {
	    font-size: 21px;
	}
}

.container.president {
	padding: 0 0 55px 0;
}

@media screen and (max-width: 770px) {
	.titleImgMessage {
		width: 200px;
	}
}