.personAll {
	background-color: #E17D15;
	margin:0 auto;
}

.personSubTitle {
    padding:48px 38px 56px 38px;
    color: #ffffff;
    font-size: 14px;
	width: 500px;
}


@media screen and (max-width: 769px) {
	p.personSubTitle.left {
		width: 62%;
		padding: 0 0 30px 0;
	}
}

.leftPerson,.rightPerson {
    width: 356px;
    background-color: #ffffff;
    padding: 41px;
    font-size: 12px;
    line-height: 27px;
	margin: 10px 0 74px 0;
}



.h3Person {
    font-size: 17px;
    padding: 0 0 15px 0;
    letter-spacing: 2px;
}

.person01 {
    position: absolute;
    left: -86px;
    top: 441px;
}

.person02 {
    position: absolute;
    right: -30px;
    top: 19px;
}

.person {
	position: relative;
}

@media screen and (max-width: 1100px) {
	.clearfix.commentAll {
		width: 80%;
		margin: 0 auto;
	}
	.leftPerson,.rightPerson {
		width: auto;
		padding: 30px;
	}
	.person01 {
		position: absolute;
		left: -33px;
		top: 102px;
	}
	.person02 {
		position: absolute;
		right: -7px;
		top: 495px;
	}
	p.personSubTitle{
		width: 15%;
	}

}

@media screen and (max-width: 880px) {
	img.person01,img.person02 {
		display:none;
	}
	.clearfix.commentAll {
		width: 100%;
	}

}