.top {
	background-image:url(../img/bg_top.png);
	width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
	height: 327px;
}

.topTitle {
    padding: 74px 0 7px 0;
	color:#E47F35;

}

.entryButton1,.entryButton2 {
	width: 300px;
    margin: 7px auto;
    background-color: #e6e6e6;
    padding: 6px 0;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
	color:#E47F35;
}

.entryButton1 {
	background-color: #E47B2E;
}
.entryButton2 {
	background-color: #F2AE37;
}

.entryButtonText {
	color:#ffffff;
}

.navAll2 {
    border-bottom: solid 3px #e6e6e6;
    margin: 0 0 10px 0;
}

.topNav2 {
	width:562px;
    margin: 0 auto;
}

.topNavText2 {
	margin: 18px 31px;
    font-weight: bold;
    font-size: 14px;
}

@media screen and (max-width: 550px) {
	.topNavText2 {
		margin: 21px 9px;
		font-weight: bold;
		font-size: 13px;
	}
		.topNav2 {
    width: 320px;
    margin: 0 auto;
	}

}

@media screen and (max-width: 450px) {
	.topNavText2 {
		margin: 21px 9px;
		font-weight: bold;
		font-size: 11px;
	}
	.topNav2 {
    width: 320px;
    margin: 0 auto;
	}
}